<!DOCTYPE html>
<html>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="static/d3.layout.cloud.js"></script>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <head>
        <title>Word Cloud Example</title>
    </head>
    <body>
        <div id="c1"> </div>
        <div id="c2"> </div>
        <div id="c3"> </div>
        <div id="c4"> </div>
        <script type="text/javascript" src='static/cluster.js'></script>
    </body>
</html>