{% extends "layout.html" %}
{% block body %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="static/d3.layout.cloud.js"></script>
    <link rel="stylesheet" type="text/css" href="static/style.css">
<h1>jQuery Example</h1>
<p>
  <input type="text" size="5" name="query">
<p><a href=# id="calculate">Search</a>
<div>
    <div id="c1"> </div>
    <div id="c2"> </div>
    <div id="c3"> </div>
    <div id="c4"> </div>
    <script type="text/javascript" src='static/cluster.js'></script>
</div>
{% endblock %}